<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Country Code</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/sendPhoneNumber.js" defer></script>
</head>
<body>
<div class="container">
    <h1>Find Country By Phone Number</h1>
    <input type="text" id="phoneNumber" placeholder="Enter phone number">
    <button id="button" onclick="findCountryCode()">Find</button>
    <div id="result"></div>
</div>
</body>
</html>